DEBUG=False
SECRET_KEY=DEFINA SUA CHAVE SECRETA
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=DEFINA SEU CLOUD NAME
CLOUDINARY_API_KEY=DEFINA SUA API KEY
CLOUDINARY_API_SECRET=DEFINA SUA API SECRET
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=